<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <%- include('../partials/head') %>
</head>
<body>
  
  <div class="layout">
    <!-- navigation -->
    <%- include('../partials/navigation') %>
    <!-- end navigation  -->

    <!-- sidebar -->
    <%- include('../partials/sidebar') %>
    <!-- end sidebar -->
  </div>

  <!-- script -->
  <%- include('../partials/script') %>
  <!-- end script -->
</body>
</html>
